body{
  width: 33%;
  margin: auto;
}

button{
  background-color: lightblue;
}

body{
  background-color: lightgrey;
}

.jumbotron{
  background-color: rgb(161, 167, 173);
}

label{
  margin-right: 5px;
}